.hero-wrapper {
    color: white;
    position: relative;
    padding-bottom: 2rem;
    /* background: var(--black); */
}

.hero-container {

    justify-content: space-between;
    align-items: flex-end;
}

/* Right side styling */

.img-container {
    width: 30rem;
    height: 35rem;
    border: 8px solid rgba(128, 128, 128, 0.562);
    border-radius: 15rem 15rem 0 0;
    overflow: hidden;

}

.img-container>img {
    transition: all 300ms ease-in;
}

.img-container>img:hover {
    transform: scale(1.1);
}

.img-container>img {
    width: 100%;
    height: auto;
}
.hero-left{
    gap: 3rem;
}
.hero-title {

    position: relative;
    z-index: 1;
}

.hero-title>h1 {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;
}

.circle {
    height: 3rem;
    width: 3rem;
    background: var(--orange-gradient);
    position: absolute;
    right: 28%;
    top: -8%;
    border-radius: 100%;
    z-index: -1;
}

.hero-des {
    color: var(--secondary);
}

.search-bar {
    border: none;
    border-radius: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    width: 100%;
    min-height: 4rem;
    background-color: white;
}
.search-bar>input{
  border: none;
  outline: none;
}

.stats{
width: 100%;
justify-content: space-between;
}
.stat>:nth-child(1){
    font-size: 2.4rem;
color: orange;
}
.plus{
    /* color: orange; */
    color: white;
}



