.h-wrapper{
/* background-color: var(--black); */
color: var(--secondary);
}

.h-container{

    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.h-menu{
gap: 2rem;

}
.h-menu>a{
    transition: all 300ms ease-in;
}
.h-menu>*:hover{
cursor: pointer;
transform: scale(1.1);
}
.green {
    color:  #184233 ;
}
.maroon {
    color: #ffffff
}
#thick {
    font-weight: bold;
    display: inline;
}