.App>:nth-child(1){
    position: relative;
    background: var(--black);
}
.white-gradient{
    height: 35rem;
    width: 35rem;
    background-color: #184233;
position: absolute;
filter: blur(100px);
}